body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width:50%;
  gap: 20px; /* Adjust the spacing between input fields */
}
.s{
  display: flex;
  justify-content:end;
  margin-left:0px;
}
